
<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Edit List Title
        </h1>
        <input #newList type="text" class="input has-background-light is-medium" type="text" placeholder=" add new task">
     
        <div class="buttons is-right">
            <button class="button is-medium " routerLink="/">Go back</button>
            <button class="button is-medium is is-primary"(click)="updateList(newList.value)" > save</button>
        </div>
    </div>
</div>