

.modal-box{
    min-height: 200px;
    width: 100%;
    max-width: 700px;
    background: #ffffff;;
    border-radius: 10px;
    padding: 30px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(3, 51, 41);

}

.buttons{
    margin-top:20px ;
}